* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/gramado.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;

}
body {
    font-family: 'Nanum Myeongjo', serif;
}

.nav__bar {
    width: 85%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 320px;
    cursor: pointer;
}

.nav__btn {
    cursor: pointer;
    outline: none;
    padding: 10px;
    margin: 20px;
    border: 1px solid #9BAEBC;
    border-radius: 15px;
    color: #2c2c2c;
    font-size: 14px;
    font-weight: 300;
    background: #9baebca6;
    transition: all .3s ease-in-out;
}

.nav__btn:hover {
    background:#9BAEBC;
    border:1px solid #94c0df;
}

.nav__btn a {
    text-decoration: none;
    color: #2c2c2c;

}

.conteudo {
    color:#FEE9CE;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

h1 {
    font-size: 40px;
    margin: 10px 0px 30px;
    line-height: 80px;
}

p {
    font-size: 25px;
    font-weight: 540;
    color: #F5C691;
}

.tour {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-top: 340px;

}

video {

}